@font-face {
    font-family: regularBrush;
    src: url(./assets/Regular\ Brush.otf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: regularBrush;
    font-size: 16px;
    background-color: rgba(0, 0, 0, .9);
    color: antiquewhite;
    overflow-x: hidden;
}

.first-page {
    height: 100vh;
}

#kado-img {
    cursor: pointer;
}

.second-page {
    background-image: url("./assets/cilukba.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    height: 100vh;
}

.sub-second-page {
    background-color: rgba(0, 0, 0, .4);
    height: 100vh;
    width: 100vw;
    z-index: 2;
}