@font-face {
    font-family: regularBrush;
    src: url(./assets/Regular\ Brush.otf);
}

::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, .7);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .7);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: regularBrush;
    font-size: 16px;
    background-color: rgba(0, 0, 0, .9);
    color: antiquewhite;
    overflow-x: hidden;
}

.first-page {
    height: 100vh;
}

#kado-img {
    cursor: pointer;
}

.second-page {
    background-image: url("./assets/cilukba.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    height: 100vh;
}

.sub-second-page {
    background-color: rgba(0, 0, 0, .4);
    height: 100vh;
    width: 100vw;
    z-index: 2;
}

.one {
    background-color: rgba(0, 0, 0, .7);
    width: 300px;
    height: 250px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.next {
    background-color: rgba(0, 0, 0, .7);
    width: 300px;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dot0 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #B9D6F3;
    position: fixed;
    bottom: 0;
    right: 0;
    animation: br 5s infinite;
}

.dot1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #F8DAE9;
    position: fixed;
    bottom: 0;
    left: 0;
    animation: bl 5s infinite;
}

.dot2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #F4C2D7;
    position: fixed;
    top: 0;
    left: 0;
    animation: tl 5s infinite;
}

.dot3 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #EFB0C9;
    position: fixed;
    top: 0;
    right: 0;
    animation: tr 5s infinite;
}

#error-pages {
    background-color: red;
    width: 100vw;
    height: 100vh;
}

.text-error {
    font-family: 'Times New Roman', Times, serif;
}

.sub-st5 {
    height: 200px;
    width: 250px;
}

#two-support {
    position: fixed;
    bottom: 0;
}

#lovePanda {
    position: fixed;
    top: 50px;
    width: 136px;
    height: 136px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #B9D6F3;
}

@keyframes br {
    from {
        bottom: 0;
        right: 0;
        background-color: #B9D6F3;
    }

    to {
        bottom: 0;
        left: 0;
        background-color: #F8DAE9;
    }
}

@keyframes bl {
    from {
        bottom: 0;
        left: 0;
        background-color: #F8DAE9;
    }

    to {
        top: 0;
        left: 0;
        background-color: #EFB0C9;
    }
}

@keyframes tl {
    from {
        top: 0;
        left: 0;
        background-color: #EFB0C9;
    }

    to {
        top: 0;
        right: 0;
        background-color: #F4C2D7;
        transform: scale(.5);
    }
}

@keyframes tr {
    from {
        top: 0;
        right: 0;
        background-color: #F4C2D7;
    }

    to {
        bottom: 0;
        right: 0;
        background-color: #B9D6F3;
        transform: scale(1.5);
    }
}